@model IEnumerable<Crypto.ArqLimpia.BL.DTOs.getProductsOutputDTOs>
<div class="card">
    <div class="card-header" style="background-color:ghostwhite">
       Cryptocurrencies
    </div>
    <div class="card-body">

        <p>

            <a asp-action="Create" asp-controller="Product" class="btn btn-warning"><i class="bi bi-arrow-left"></i>Create new Cryptocurrencie</a>
        </p>
        <hr />
        <table class="table table-bordered">
            <thead>
                <tr>
                    <th>Name</th>
                    <th>Description</th>
                    <th>Price</th>
                    <th>Amount</th>
                    <th>Action</th>

                </tr>
            </thead>
            <tbody>
                @foreach (var item in Model)
                {
                    <tr>
                        <td>@item.ProductName</td>
                        <td>@item.ProductDescription</td>
                        <td>@item.price</td>
                        <td>@item.Amount</td>
                    
                        <td>

                            <a asp-action="CheckOut" asp-controller="CheckOut" asp-route-productName="@item.ProductName" asp-route-productDescription="@item.ProductDescription" asp-route-price="@item.price" asp-route-amount="@item.Amount" class="btn btn-success btn-sm">Comprar</a>


                        </td>
                    </tr>
                }
            </tbody>
        </table>
    </div>
</div>